body {
    font-family: "Ubuntu", sans-serif;
    /* font-family: "Hellix", sans-serif; */
}

.header {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    box-sizing: border-box;
    font-weight: 700;
}

.footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f7f7f7;
}

.wrap {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.nav {
    list-style-type: none;
    display: flex;
    /* чтобы элементы встали в ряд */
    justify-content: flex-start;
    font-size: 14px;
}

/* надо стилизовать список, чтобы между ними было какое-то расстояние */
.nav>li {
    margin-left: 15px;
}

.nav>li>a {
    text-decoration: none;
    color: #202020;
    align-items: center;

    font-weight: 600;
}

/* стилизуем кнопку */
.nav_btn {
    background-color: #5528FF;
    border-radius: 5px;
    padding: 10px 15px;
    color: #ffffff;
    border: none;

    font-weight: 600;
    /* Rectangle */

    /* position: absolute;
    width: 100px;
    height: 24px;
    left: 1451px;
    top: 76.5px; */


}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo_img {
    display: block;
    width: 58px;
    height: 58px;
    background-image: url(../img/logo.svg);
    margin-right: 20px;
}

/* стилизуем текст */
.logo_text {
    /* font-family: Hellix; */
    font-size: 24px;
    text-align: center;
    color: #202020;
}

/* We're an independent development agency. */
.title-main {
    /* font-family: 'Hellix'; */
    font-size: 58px;
    color: #202020;
    font-weight: 700;
}

/* We understand */
.text-main {
    /* font-family: 'Hellix'; */
    font-size: 32px;
    line-height: 52.5px;
    text-align: left;
    color: #4F4F4F;
    font-weight: 400;
    /* We understand the intricacies of web development inside-out. That's why we build rock-solid Mobile and Web applications enriched with user-centered visual experiences. */
}

/* вторая кнопка для связи */
.button {
    background-color: #5528FF;
    border-radius: 10px;
    padding: 10px 45px;
    color: #ffffff;
    border: none;

    font-size: 24px;
    font-weight: 400;

    width: 235px;
    height: 60px;
}

.page {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}

.page-top {
    border-top: 1px solid #C2C2C2;

    /* OUR SERVICES */

    /* position: absolute;
    left: 19.22%;
    right: 77.14%;
    top: 0%;
    bottom: 5.56%;

    font-family: 'Hellix';
    
     */
    /* identical to box height */

}

.page h2 {
    position: absolute;
    top: -24px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    background-color: #ffffff;
    padding: 5px 15px;
    color: #C2C2C2;
}

.services {
    display: grid;
    grid-template: 50% 50% / 50% 50%;
    /* а можно было через fraction */
    /* grid-template: 1fr 1fr / 1fr 1fr; */

}

.servisec-item{
    display: flex;
    justify-content: flex-start;
    /* чтобы картинки стали по центру */
    align-items: center;
}

.services_img{
    flex-basis: 120px;
    text-align: center;
}

.services_text{
    flex-basis: calc(100% - 120px);
}

.services h3 {
    font-size: 28px;
    font-weight: 400;
}

.services p {
    /* font-family: var(--font-family); */
    font-weight: 400;
    font-size: 14px;
    color: #b2b2b2;
    line-height: 16.41px;
}

.clients{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 25%);
    grid-row-gap: 40px;
    
    /* grid-template: 120px 120px / repeat(4, 25%); */

}

.team{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    /* чтобы сделать отступы между ячейками */
    grid-row-gap: 40px;
}

.team-item{
    display: flex;
    justify-content: flex-start;
    /* чтобы картинки стали по центру */
    align-items: center;
}
.team-item img{
    margin-right: 20px;
}
.team-item>div{
    flex-basis: calc(100% - 100px);
}

.box-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social{
    list-style-type: none;
    padding-left: 0;
    display: flex;

}

/* для отступов между */
.social>li{
    margin-left: 15px;
}

.social>li>a{
    text-decoration: none;
    color: #b2b2b2;
    font-size: 24px;
}